USE [bd_ig-projet]
GO
/****** Object:  StoredProcedure [dbo].[spSalidaMaterialDetalle_crear]    Script Date: 24/07/2017 04:14:14 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spSalidaMaterialDetalle_crear]
(
	@Id_detalle_salida_material	int = NULL,
    @Id_salida_material			int = NULL,
    @Id_producto				int = NULL,
    @CantidadSalida				numeric(18,2) = NULL,
    @Usuario					varchar(50) = NULL,
    @TipoOperacion				int = NULL,
	@Id_empresa					int = NULL
)
AS
BEGIN
SET NOCOUNT ON
BEGIN TRY
	BEGIN TRANSACTION

	--Guardamos
		INSERT INTO TDetalle_salida_material(
			id_salida_material, 
			id_producto, 
			CantidadSalida,
			UsuarioSalida,
			id_empresa)
		VALUES (
			@Id_salida_material, 
			@Id_producto, 
			@CantidadSalida, 
			@Usuario,
			@Id_empresa);
	
	UPDATE TProducto SET
	cantidad = cantidad - @CantidadSalida
	WHERE 
	id_producto = @Id_producto and
	id_empresa = @Id_empresa
			
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
	BEGIN
		ROLLBACK TRANSACTION
	END
	EXEC usp_RetornarError
END CATCH
SET NOCOUNT OFF
END
