USE [bd_ig-projet]
GO
/****** Object:  StoredProcedure [dbo].[usp_SalidaMaterial_Delete]    Script Date: 24/07/2017 04:57:35 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_SalidaMaterial_Delete]
(
	@pIdSalidaMaterial		int = NULL,
	@pid_empresa			int = NULL	
)
AS
BEGIN
	
	EXECUTE spSalidaMaterialDetalle_eliminar @pIdSalidaMaterial, @pid_empresa

	DELETE FROM TSalida_material 
	WHERE 
	IdSalidaMaterial = @pIdSalidaMaterial AND
	id_empresa = @pid_empresa
		
END