USE [bd_ig-projet]
GO
/****** Object:  StoredProcedure [dbo].[usp_CompraMaterial_ConfirmarCompra]    Script Date: 08/08/2017 21:03:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_CompraMaterial_ConfirmarCompra]
(
	@pIdCompra		int = NULL,
	@pid_empresa	int = NULL,
	@Usuario		varchar(50) = NULL
    	
)
AS
BEGIN
	DECLARE @vEstadoAbierto int;

	SELECT @vEstadoAbierto = EstadoAbierto 
	FROM TCompra
	WHERE IdCompra = @pIdCompra AND id_empresa = @pid_empresa
	
	IF @vEstadoAbierto = 100001
	BEGIN
		UPDATE TCompra SET
		EstadoAbierto = 100002,
		UsuarioModifica = @Usuario,
		FechaModifica = GETDATE()
		WHERE IdCompra = @pIdCompra AND id_empresa = @pid_empresa

		UPDATE A SET 
		A.cantidad = ISNULL(A.cantidad,0) + ISNULL(B.Cantidad,0),
		A.id_moneda =	CASE 
							WHEN A.id_moneda IS NULL THEN C.id_moneda
							ELSE A.id_moneda
						END
		FROM
		TProducto A
		INNER JOIN TDetalle_compra B ON (B.id_producto = A.id_producto AND B.IdCompra = @pIdCompra AND B.id_empresa = @pid_empresa)
		INNER JOIN TCompra C ON (C.IdCompra = B.IdCompra AND C.id_empresa = B.id_empresa)
		

		/*Modificamos el precio promedio del producto*/
		;WITH ProductoPromedio (id_producto, descripcion, promedio)  
		AS
		(
		SELECT
		dcom.id_producto, 
		prod.descripcion,
		avg(isnull(
			CASE
				/*20001 = Soles -- 20002 = Dólares Americanos*/ 
				WHEN (prod.id_moneda = 20002 AND com.id_moneda =  20001) THEN dcom.PrecioUnitario / 3.3
				WHEN (prod.id_moneda = 20001 AND com.id_moneda =  20002) THEN dcom.PrecioUnitario * 3.3
				ELSE dcom.PrecioUnitario
			END
			,0)) promedio
		FROM TProducto prod
		INNER JOIN TDetalle_compra dcom ON dcom.id_producto = prod.id_producto
		INNER JOIN TCompra com ON com.IdCompra = dcom.IdCompra and com.id_empresa = dcom.id_empresa and com.EstadoAbierto = 100002
		WHERE 
		dcom.id_empresa = @pid_empresa and 
		prod.id_producto in (select id_producto from TDetalle_compra where IdCompra = @pIdCompra)
		group by dcom.id_producto, prod.descripcion
		)
		
		UPDATE A SET 
		A.precio_promedio = ISNULL(B.promedio,0)
		FROM
		TProducto A
		INNER JOIN ProductoPromedio B ON (B.id_producto = A.id_producto)

		/*Ingresamos al kardex*/
		EXECUTE usp_KardexProducto_Movimiento NULL, @pIdCompra, @pid_empresa, @usuario, NULL, 2;
	END		
END